* {
  margin: 0;
  padding: 0;
}

/* responsive font sizing using rems*/
html {
  font-size: 16px;
}

/* need to height so that the when flex needs to center
   the container vertically it has a reference for how much space
   to set the margin for. By default the height is only what space
   the content takes up */
html,
body {
  height: 100%;
}

body {
  background-color: #dfe6e9;
  /* background-color: #b2bec3; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */

  font-family: Arial, Helvetica, sans-serif;
  /* font-size: large; */
  color: #f1f2f6;

  background: linear-gradient(to left, #283048, #859398);
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

label {
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

input[type="submit"] {
  font-size: 1.2rem;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: auto auto;
  /* background-color: #e1e6ec; */
  border-radius: 5px;
  box-shadow: 5px 5px 10px #283048;
  /* box-shadow: 5px 5px 10px #283048, -2px -2px 15px #859398; */
  background-color: rgba(22, 23, 22, 0.4);

  display: flex;
  flex-direction: column;
}

.container img {
  display: block;
  width: 100px;
  margin: 0 auto 0px auto;

  /* neumorphism */
  border-radius: 30px;
  /* box-shadow: 5px 5px 10px #abb3bc, -5px -5px 10px #f3f6f9; */
}

form {
  margin-bottom: 20px;
}

.length-group {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.length-group label {
  flex-basis: 10%;
  align-self: center;
}

.length-group input[type="number"] {
  color: #f1f2f6;
  background-color: rgba(22, 23, 22, 0.4);
  flex-basis: 90%;
  box-sizing: border-box;
  padding: 0.2rem;
  /* flex-grow: 1; */
  margin-left: 2px;
  border: none;
  border-radius: 2px;
}

.checkbox-group {
  display: flex;
  margin-bottom: 20px;
}

.checkbox-group label {
  flex-basis: 70%;
}

.checkbox-group input {
  border: none;
}

/* submit button */
input[type="submit"] {
  padding: 0.5rem;
  width: 100%;
  border: none;
  color: #f1f2f6;
  background-color: rgba(22, 23, 22, 0.4);
  background-color: rgba(142, 68, 173, 0.4);
  border-radius: 2px;
  transition: background-color 0.5s;
}

/* password area */
#password-generator textarea {
  width: 100%;
  hyphens: none;
  word-break: break-all;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
  background-color: rgba(22, 23, 22, 0.4);
  color: white;

  /* resize is enabled by default */
  resize: none;
}

/* copy and clear buttons div*/
.copy-clear {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  box-sizing: border-box;
  border: none;
  background-color: rgba(142, 68, 173, 0.4);
  color: white;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 0.7rem;
  transition: background-color 0.5s;
}

input[type="submit"]:hover {
  background-color: rgba(142, 68, 173, 0.8);
}

button:hover {
  background-color: rgba(142, 68, 173, 0.8);
}

/* screen sizes <= 575 */
@media (max-width: 449px) {
  .container img {
    width: 75px;
    margin-bottom: 0px;
  }

  .container {
    padding-top: 10px;
  }

  html {
    font-size: 14px;
  }
}

/* screen sizes <= 575 */
@media (min-width: 450px) {
  .container img {
    width: 75px;
    margin-bottom: 0px;
  }

  .container {
    padding-top: 10px;
  }

  html {
    font-size: 14px;
  }

  .checkbox-group label {
    flex-basis: 40%;
  }
}

/* break points and container sizes from bootstrap */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    /* background: blue; */
  }

  .container img {
    width: 100px;
  }

  .checkbox-group label {
    flex-basis: 40%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 640px;
    /* background: red; */
  }

  .checkbox-group label {
    flex-basis: 35%;
  }
}

@media (min-width: 1370px) {
  html {
    font-size: 18px;
  }
  .container {
    max-width: 960px;
  }

  .container img {
    width: 125px;
  }

  .checkbox-group label {
    flex-basis: 25%;
  }
}
